.env
/vendor/
/storage/database.sqlite
/storage/private/ids/*
/storage/private/signatures/*
/storage/private/contracts/*
/storage/private/mail/*
/storage/private/bikes/*
!/storage/private/ids/.gitkeep
!/storage/private/signatures/.gitkeep
!/storage/private/contracts/.gitkeep
!/storage/private/mail/.gitkeep
!/storage/private/bikes/.gitkeep
/storage/logs/*
.DS_Store
/storage/backups/
/public/assets/bike-cache/
/tools/eid-bridge/bin/
/tools/eid-bridge/obj/
/tools/eid-bridge/dist-x86/
/tools/eid-bridge/dist-x64/
